{% comment %} Blog categories {% endcomment %}

{% assign categories = section.settings.blog_categories | split: ',' %}

<div class="blog-categories">
  <h3 class="mod-title">Blog Categories</h3>
  {% for category in categories %} 
    {% if section.settings.blog_categories %}
    {% endif %}
    <li>{{ category }}</li>
{% endfor %} 
</iv>