{% comment %} Blog categories {% endcomment %}

{% assign categories = section.settings.blog_categories | split: ',' %}

<div class="blog-categories">
  {% if section.settings.blog_categories != "" %}
    <h3 class="mod-title">Categories</h3>
    {% for category in categories %} 
      <li>            
      <span>
        {% render 'icon-doc' %}
      </span>
      {{ category }}
      </li>
    {% endfor %} 
  {% endif %}
</div>