{{ 'catalog-collection-card.css' | asset_url | stylesheet_tag }}

<div id="Banner-{{ section.id }}" class="collection__banner">
    <div class="collection__banner__media" style="padding-bottom: 50%;background-image: url('{{ 'lt1-item-1.jpg' | file_url}}')">
        <div class="item-inner item-left">
            <a class="link-wrap" href="#"></a>
            <h3>Winter/Spring Clothing 2022 Collections</h3>
            <div class="description">Cursus elit, iaculis platea integer nisl sapien egestas. Bitae donec ornare iaculis mauris nec.</div>
            <a class="link-uppercase " href="#">Shop Collection</a>
        </div>
    </div>
</div>
