<!-- START OF LIST TAGS -->
<div class="list-tag">
  {% if section.settings.blog_show_tags %}
    <h3 class="mod-title">Tags</h3>
  {% endif %}
  <ul>
    {%- for tag in blog.all_tags -%}
      <li>
        <a href="{{ blog.url }}/tagged/{{ tag | handle }}">{{ tag }}</a>{% unless forloop.last %} {% endunless %}
      </li>
    {%- endfor -%}
  </ul>
</div>