.cards-sidebar-carousels {
    max-width: 768px;
    margin: 20px auto 0;
}

.cards-sidebar-carousels .active-facets {
    border-bottom: solid rgba(var(--color-foreground), 0.1);
    margin-bottom: 20px;
}

.cards-sidebar-carousels img {
    width: 100%;
}

.cards-sidebar-carousels .carousel-cell {
    margin: auto;
    width: 100%;
}